<div class="flex justify-content-center align-items-center min-h-screen p-4">
  <div class="w-full sm:w-30rem border-round-2xl">

    <div class="text-center">
      <div class="font-bold text-4xl mb-2">Crear una cuenta</div>
      <div class="texto-gris mb-6">Ingresa tus datos para registrarte</div>
    </div>

    <!-- formulario -->
    <form class="p-fluid"
          [formGroup]="myForm"
          autocomplete="off"
          (ngSubmit)="register()">

      <!-- Nombre y apellidos -->
      <div class="field mb-3">
        <label for="name" class="font-medium">Nombre y Apellidos</label>
        <input id="name"
               pInputText
               class="border-round-lg text-lg"
               placeholder="Nombre completo"
               formControlName="name" />
      </div>

      <!-- Nombre de usuario -->
      <div class="field mb-3">
        <label for="userName" class="font-medium">Nombre Usuario</label>
        <input id="userName"
               pInputText
               class="border-round-lg text-lg"
               placeholder="Usuario"
               formControlName="userName" />
      </div>

      <!-- Correo -->
      <div class="field mb-3">
        <label for="email" class="font-medium">Correo</label>
        <input id="email"
               type="email"
               pInputText
               class="border-round-lg text-lg"
               placeholder="Correo electrónico"
               formControlName="email" />
      </div>

      <!-- Contraseña -->
      <div class="field mb-3">
        <label for="password" class="font-medium">Contraseña</label>
        <p-password id="password"
                    class="border-round-lg text-lg"
                    formControlName="password"
                    placeholder="Contraseña"
                    [feedback]="true"
                    [toggleMask]="true">
        </p-password>
      </div>

      <!-- Repetir contraseña -->
      <div class="field mb-5">
        <label for="password2" class="font-medium">Repetir Contraseña</label>
        <p-password id="password2"
                    class="border-round-lg text-lg"
                    formControlName="password2"
                    placeholder="Repite la contraseña"
                    [feedback]="false"
                    [toggleMask]="true">
        </p-password>
      </div>

      <!-- Botón -->
      <p-button 
        label="Registrarse" 
        [disabled]="myForm.invalid"
        type="submit"
      />


      <!-- enlace login -->
      <div class="text-center mt-4">
        ¿Ya tienes cuenta?
        <a routerLink="/auth/login" class="link-verde">Inciar Sesión</a>
      </div>

    </form>
  </div>
</div>
