<div class="flex flex-column h-screen">

  <div class="flex justify-content-between align-items-center w-full text-black p-3 px-4" style="border-bottom: 1px solid #d1d5db;">
    <div class="ml-8 text-3xl font-bold">Ecost</div>

    <a class="mr-4" [routerLink]="['/dashboard/userInfo']">
      <img src="assets/images/icons/user.png" width="40" height="40" />
    </a>
  </div>

  <!-- Contenedor principal: menú + contenido -->
  <div class="flex flex-1">

    <!-- Menú lateral -->
    <aside class="w-16rem p-3 pl-5" style="border-right: 1px solid #d1d5db;">

      <div  class="flex flex-column gap-2">

        <div (click)="navegar('/dashboard')"
          [ngClass]="{'bg-gray-200 border-round border-gray-300': rutaActiva === '/dashboard'}"
          class="flex align-items-center gap-2 p-3 border-round cursor-pointer hover:surface-border hover:bg-gray-100 border-round">
          <i class="pi pi-home"></i>
          <span class="font-medium">Dashboard</span>
        </div>

        <div (click)="navegar('/calculadora')"
          [ngClass]="{'bg-gray-200 border-round border-gray-300': rutaActiva === '/calculadora'}"
          class="flex align-items-center gap-2 p-3 border-round-lg cursor-pointer hover:surface-border hover:bg-gray-100 border-round">
          <i class="pi pi-calculator"></i>
          <span class="font-medium">Calculadora</span>
        </div>

        <div (click)="navegar('/historico')"
          [ngClass]="{'bg-gray-200 border-round border-gray-300': rutaActiva === '/historico'}"
          class="flex align-items-center gap-2 p-3 border-round-lg cursor-pointer hover:surface-border hover:bg-gray-100 border-round">
          <i class="pi pi-history"></i>
          <span class="font-medium">Histórico</span>
        </div>

      </div>
    </aside>

    <!-- Contenido dinámico -->
    <div class="flex-1 p-4 overflow-auto">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
