<body class="d-flex flex-column min-vh-100">
  <!-- Icono usuario -->
  <div class="position-fixed top-0 end-0 p-3 d-flex flex-column align-items-center" style="z-index:1030">
    <a [routerLink]="['/dashboard/userInfo']">
      <img src="assets/images/icons/user.png" width="48" height="48" />
    </a>

    <a class="nav-link fs-6 m-2 text-center text-decoration-none" [routerLink]="['/dashboard/userInfo']">
      {{ userName }}
    </a>
  </div>

  <!-- Contenido principal -->
  <div class="mx-auto mt-6" style="width: 40%">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <footer class="p-3 m-4 mt-9">
    <br>
    <br>
    <br>
    <br>
    <hr>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <p class="fw-bold fs-5 mb-2">Ignacio Follente Bayo</p>
      <img src="..\..\..\..\assets\images\icons\logoUPM.png" width="150" height="75" alt="" />
    </div>
    <p class="text-center text-body-secondary mt-2">© 2025 UPM, TFG</p>
  </footer>
</body>