<div class="flex justify-content-center align-items-center min-h-screen p-4">
  <div class="w-full sm:w-30rem border-round-2xl">

    <div class="text-center">
      <div class="font-bold text-4xl mb-2">Iniciar sesión</div>
      <div class="text-500 mb-5">Ingresa tus credenciales para acceder</div>
    </div>
    

    <form class="p-fluid" [formGroup]="myForm" autocomplete="off" (ngSubmit)="login()">

      <!-- Correo -->
      <div class="field mb-3">
        <label for="email" class="font-medium">Email</label>
        <input id="email"
               type="email"
               pInputText
               placeholder="Correo electrónico"
               formControlName="email" />
      </div>

      <!-- Contraseña -->
      <div class="field mb-5">
        <label for="password" class="font-medium">Contraseña</label>
        <p-password id="password"
                    formControlName="password"
                    placeholder="Ingrese su contraseña"
                    [feedback]="false"
                    [toggleMask]="true">
        </p-password>
      </div>

      <!-- Botón -->
      <p-button 
        label="Iniciar Sesión" 
        [disabled]="myForm.invalid"
        type="submit"
      />

      <div class="text-center mt-4">
        ¿No tienes cuenta?
        <a routerLink="/auth/register" class="text-primary no-underline hover:underline">Registrarse</a>
      </div>

    </form>
  </div>
</div>


