<div class="flex justify-content-center align-items-center min-h-screen p-4">
  <p-card styleClass="w-full sm:w-30rem border-round-2xl">

    
    <div class="text-center font-medium text-5xl mb-5">Login&nbsp;|&nbsp;ECOST</div>
    

    <form class="p-fluid" [formGroup]="myForm" autocomplete="off" (ngSubmit)="login()">

      <!-- Correo -->
      <div class="field mb-3">
        <label for="email" class="font-medium">Correo</label>
        <input id="email"
               type="email"
               pInputText
               placeholder="Correo electrónico"
               formControlName="email" />
      </div>

      <!-- Contraseña -->
      <div class="field mb-5">
        <label for="password" class="font-medium">Contraseña</label>
        <p-password id="password"
                    formControlName="password"
                    placeholder="Ingrese su contraseña"
                    [feedback]="false"
                    [toggleMask]="true">
        </p-password>
      </div>

      <!-- Botón -->
      <button pButton
              label="Login"
              class="w-full p-button-lg border-round-lg"
              type="submit"
              [disabled]="myForm.invalid">
      </button>

      <p class="text-center mt-4">
        ¿No tienes cuenta?
        <a routerLink="/auth/register" class="font-medium">Crear una aquí</a>
      </p>

    </form>
  </p-card>
</div>


