<!-- user-info.component.html -->
<div class="flex justify-content-center p-4">
  <p-card class="w-full sm:w-30rem surface-card shadow-2 border-round-xl">

    <ng-template pTemplate="header">
      <h2 class="text-center text-3xl font-semibold mt-4">Información de usuario</h2>
    </ng-template>

    <ng-container>
      <ul class="list-none p-0 m-0">
        <li class="py-3 surface-border">
          <span class="font-semibold">Nombre y apellidos:</span>
          <div class="text-lg mt-1">{{ user()?.name }} {{ user()?.lastName }}</div>
        </li>

        <li class="py-3 surface-border">
          <span class="font-semibold">Nombre de usuario:</span>
          <div class="text-lg mt-1">{{ user()?.userName }}</div>
        </li>

        <li class="py-3">
          <span class="font-semibold">Correo electrónico:</span>
          <div class="text-lg mt-1">{{ user()?.email }}</div>
        </li>
      </ul>
    </ng-container>

  
    <div class="flex flex-column mt-4 gap-3">
      <button pButton
              label="Cerrar sesión"
              class="p-button-text p-button-danger"
              (click)="onLogout()">
      </button>
            <button pButton
              label="Cancelar"
              class="p-button-text p-button"
              (click)="cancelar()">
      </button>
    </div>

  </p-card>
</div>
