<div class="flex justify-content-center p-4">
  <p-card class="w-full sm:w-30rem surface-card shadow-4 border-round-2xl">

    <div class="text-center mt-2">
      <div class="text-3xl text-900 font-semibold mb-1">Información de usuario</div>
    </div>

    <!-- Contenido principal -->
    <div class="mt-4 px-3">
      <ul class="list-none p-0 m-0">
        <li class="py-3 border-bottom-1 surface-border">
          <span class="font-medium text-color-secondary">Nombre y apellidos:</span>
          <div class="text-lg font-semibold mt-1">{{ user()?.name }} {{ user()?.lastName }}</div>
        </li>

        <li class="py-3 border-bottom-1 surface-border">
          <span class="font-medium text-color-secondary">Nombre de usuario:</span>
          <div class="text-lg font-semibold mt-1">{{ user()?.userName }}</div>
        </li>

        <li class="py-3">
          <span class="font-medium text-color-secondary">Correo electrónico:</span>
          <div class="text-lg font-semibold mt-1">{{ user()?.email }}</div>
        </li>
      </ul>
    </div>

    <!-- Botones -->
    <div class="flex flex-column mt-5 gap-2 px-3 pb-4">
      <button pButton
              label="Cerrar sesión"
              icon="pi pi-sign-out"
              class="p-button-outlined p-button-secondary w-full"
              (click)="onLogout()">
      </button>

      <button pButton
              label="Volver"
              icon="pi pi-arrow-left"
              class="p-button-outlined w-full"
              (click)="cancelar()">
      </button>
    </div>

  </p-card>
</div>